text {
    text-align: start;
}

.font {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: calc(10px + 2vmin);
    padding: 2% 2% 2% 2%;
    color: white;
    justify-content: center;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.headerFont {
    display: flex;
    flex-direction: column;
    font-family: 'Bungee Spice', cursive;
    font-size: 45px;
    padding: 2% 2% 2% 2%;
    text-align: center;
    position: relative;
    left: 25%;
}

.navFont {
    display: flex;
    position:relative;
    right: 15%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 2% 2% 2% 2%;
    color: white;
    text-align: start;
    justify-content: center;
}

.navFont:hover {
    text-decoration: underline;
    color: rgb(18, 0, 117);
    cursor: pointer;
}

.font-thick {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    padding: 2% 2% 2% 2%;
}

.font-thick > h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact-font {
    font-family: 'Poppins', sans-serif !important;
}

.defeat {
    color: rgb(255, 0, 255) !important;
}

.child {
    color: green !important;
}

.adult {
    color: rgb(182, 42, 0) !important;
}

.newTimeline {
    color: rgb(0, 204, 194) !important;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.directory {
    color: rgb(0, 13, 192);
    text-align: start;
    padding-top: 2%;
    max-width: 700px;
}

.bold-underline {
    text-decoration: underline;
    font-size: large;
}
  
#container-bg {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/banner-triforce.jpg');
    background-size: 100%;
    background-position: bottom 225px right 0px;
    position: relative;
}

/* Skyward Sword */
.window-0:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/skywardsword-banner.jpg') !important;
    background-position: bottom 150px right 0px !important;
    /* 100 */
}

/* The Minish Cap */
.window-1:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/minishcap-banner.jpg') !important;
    background-position: bottom 600px right 0px !important;
    /* 350 */
}

/* Four Swords */
.window-2:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/fourswords-banner.jfif') !important;
    background-position: bottom 300px right 0px !important;
    /* 175 */
}

/* Ocarina of Time  */
.window-3:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/ocarinaoftime-banner.jpg') !important;
    background-position: bottom 200px right 0px !important;
    /* 125 */
}

/* ******************** DEFEAT TIMELINE ******************** */
/* A Link To The Past  */
.window-4:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/alinktothepast-banner.jpg') !important;
    background-position: bottom 275px right 0px !important;
    color: rgb(255, 0, 255) !important;
}

/* Link's Awakening */
.window-5:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/linksawakening-banner.png') !important;
    background-position: bottom -110px right 0px !important;
    color: rgb(255, 0, 255) !important;
}

/* Oracle of Seasons // Ages */
.window-6:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/seasonsages-banner.jpg') !important;
    background-position: bottom 400px right 0px !important;
    color: rgb(255, 0, 255) !important;
}

/* A Link Between Worlds */
.window-7:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/alinkbetweenworlds-banner.jpg') !important;
    background-position: bottom 200px right 0px !important;
    color: rgb(255, 0, 255) !important;
}

/* Tri Force Heroes  */
.window-8:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/triforceheroes-banner.jpg') !important;
    background-position: bottom 350px right 0px !important;
    color: rgb(255, 0, 255) !important;
}

/* The Legend of Zelda */
.window-9:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/zelda1-banner.jpg') !important;
    background-position: bottom 300px right 0px !important;
    color: rgb(255, 0, 255) !important;
}

/* Zelda II: The Adventures of Link */
.window-10:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/zelda2-banner.png') !important;
    background-position: bottom 450px right 0px !important;
    color: rgb(255, 0, 255) !important;
}

/* ******************** CHILD TIMELINE ******************** */
/* Majora's Mask */
.window-11:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/majorasmask-banner.jpg') !important;
    background-position: bottom 400px right 0px !important;
    color: green !important;
}

/* Twilight Princess */
.window-12:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/twilightprincess-banner.jpg') !important;
    background-position: bottom 400px right 0px !important;
    color: green !important;
}

/* Four Swords Adventures */
.window-13:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/fourswordsadv-banner.jpg') !important;
    background-position: bottom 400px right 0px !important;
    color: green !important;
}

/* ******************** ADULT TIMELINE ******************** */
/* The Wind Waker  */
.window-14:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/windwaker-banner.jpg') !important;
    background-position: bottom 900px right 0px !important;
    color: rgb(182, 42, 0) !important;
}

/* The Phantom Hourglass */
.window-15:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/phantomhourglass-banner.png') !important;
    background-position: bottom 325px right 0px !important;
    color: rgb(182, 42, 0) !important;
}

/* Spirit Tracks */
.window-16:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/spirittracks-banner.jpg') !important;
    background-position: bottom 425px right 0px !important;
    color: rgb(182, 42, 0) !important;
}

/* ******************** TIMELINE CONVERGENCE ******************** */
/* Hyrule Warriors */
.window-17:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/hyrulewarriors-banner.jpg') !important;
    background-position: bottom 400px right 0px !important;
    color: rgb(0, 204, 194) !important;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

/* Breath of the Wild */
.window-18:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/breathwild-banner.jpg') !important;
    background-position: bottom 500px right 0px !important;
    color: rgb(0, 204, 194) !important;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

/* Tears of the Kingdom */
.window-19:hover {
    background-image: url('https://raw.githubusercontent.com/hector8th/zelda-portal/main/src/components/media/tearskingdom-banner.png') !important;
    background-position: bottom 350px right 0px !important;
    color: rgb(0, 204, 194) !important;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}